name: Deploy to Production
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute Remote SSH Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/wottpay
            git -C wottpay-frontend pull || git clone https://github.com/denisbiwott/wottpay-frontend wottpay-frontend
            git -C wottpay-backend pull || git clone https://github.com/denisbiwott/wottpay-backend wottpay-backend
            docker compose up -d --build
